{% extends 'main/base.html' %}

{% block title %}
    Form Page
{% endblock %}


{% block content %}
    {%if user.is_authenticated %}
        <h1>GSheet Home Page</h1> <button onclick="location.href = '/logout'">Sign In</button>
            <div>
                <iframe style="width:1000px;height:1500px"src="https://docs.google.com/spreadsheets/d/1BdIa_Ds7htGV5tLU0nNjG8JESaNuozol4wSKsHmq5YM/edit?usp=sharing&amp;widget=true&amp;headers=false"></iframe>
            </div>
    {% else %}
            <p>You need to login, please <a href="/login">Login</a> here!</p>
    {% endif %}
{% endblock %}